[
  {
      "name": "docker_ecs_cluster",
      "image": "398818754185.dkr.ecr.us-west-2.amazonaws.com/static-app",
      "memory": 768,
      "cpu": 1024,
      "portMappings": [
          {
              "containerPort": 80,
              "hostPort": 80
          }
      ],
        "essential": true,
        "entryPoint": [],
        "command": [],
        "environment": [],
        "mountPoints": [],
        "volumesFrom": []
  }
]
