[
  {
      "name": "awslogin_ecs_cluster",
      "image": "157065524616.dkr.ecr.us-west-2.amazonaws.com/awslogin_opswest",
      "memory": 768,
      "cpu": 1024,
      "portMappings": [
          {
              "containerPort": 4000,
              "hostPort": 4000
          }
      ],
        "essential": true,
        "entryPoint": [],
        "command": [],
        "environment": [],
        "mountPoints": [],
        "volumesFrom": []
  }
]
